html,
body,
#root {
  height: 100%;
}

.App,
.Home,
.dark {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.contacto {
  text-align: center;
}

.favButton {
  background-color: rgba(136, 136, 136, 0.116);
  padding: 10px;
  border: none;
  border-radius: 0 0 5px 5px;
  width: 100%;
  cursor: pointer;
}
.favButton {
  /* Default state */
  background-color: #e6e6fa;
  color: black;
}

.favButton.favorited {
  background-color: #ff6347;
  color: white;
}

h1 {
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
  padding: 1rem 2rem;
  gap: 25px;
}

nav button {
  margin-left: auto;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: none;
  background-color: #e6e6fa;
  cursor: pointer;
}

nav button:hover {
  background-color: #aacede;
}

a {
  color: #000;
  text-decoration: none;
  margin: 5px;
  cursor: pointer;
}
a:hover {
  color: rgb(136, 136, 136);
}

.fav_counter {
  display: inline-block;
  padding: 2px;
  text-align: center;
  background-color: #ff6347;
  border-radius: 50%;
  width: 19px;
  color: white;
}
.sin_favoritos {
  text-align: center;
  margin: auto;
  color: gray;
}

.sin_favoritos__txt {
  font-size: 20px;
}

.sin_favoritos__btn {
  padding: 5px 10px;
  cursor: pointer;
}
.limpiar_favoritos {
  margin-bottom: 30px;
  padding: 10px 15px;
  text-align: center;
}

.limpiar_favoritos__btn {
  padding: 5px 10px;
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  position: relative;
  bottom: 0;
  width: 90%;
  height: 40px;
  margin-top: auto;
}

footer > img {
  width: 200px;
  margin: 0;
}
footer > p {
  margin: 0;
  padding-top: 0.7rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  height: 100px;
  margin: 0 auto;
}
.warning,
.success {
  font-weight: bold;
}
.warning {
  color: red;
}
.success {
  color: black;
}

.card {
  background-color: #fff5ee;
  display: flex;
  border-radius: 5px;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 200px;
  padding-bottom: 0;
  border: 0.5px solid rgb(136, 136, 136);
}

.card:hover {
  border: 0.5px solid rgb(206, 217, 142);
}

.card-grid {
  display: flex;
  justify-content: space-evenly;
  gap: 0.5rem;
  width: 90vw;
  height: auto;
  flex-wrap: wrap;
  margin: 0 auto;
}

.card span {
  font-weight: bold;
  color: #4b0f04;
}
.card img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 90%;
  display: table;
  border: 1px solid #ccc;
  margin: 0 auto;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

/* ::::: DARK THEME ::::: */

.dark {
  background-color: #12121296;
  color: black;
}
.dark h1,
.dark nav a,
.dark .contacto h2,
.dark .contacto p,
.dark table th,
.dark table td {
  color: white;
}

.dark .contacto .warning {
  color: #ffff00;
}

.dark .sin_favoritos__txt {
  color: #e9e9ed;
}
